# Assignment: Preparing Data for Analysis (Modified Titanic)

![](https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/%20files/hw.png)

In [1]:
#Import the libraries
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/datasets/hw/titanic_training_dataset_v2.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Parch        891 non-null    int64
 8   Ticket       852 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     803 non-null    object
dtypes: float64(5), int64(2), object(5)
memory usage: 83.7+ KB

# 1) Load data & review the data

<font color='blue'>Q1) What is the shape of this dataset? (rows & columns)</font>

In [5]:
datasetShape = df.shape
print(datasetShape[0], "rows,", datasetShape[1], "columns")

891 rows, 12 columns

# 2) Drop unqualified variables

*   Drop variables with missing > 50%
*   Drop flat-value variables that have the same value more than 70% of the total data rows (check all variables not only categorical variables)

<font color='blue'>Q2) How many columns do we have left?</font>

In [6]:
# Drop the columns with missing > 50%
df.dropna(thresh=df.shape[0]*0.5, axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Parch        891 non-null    int64
 8   Ticket       852 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     803 non-null    object
dtypes: float64(5), int64(2), object(4)
memory usage: 76.7+ KB

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,865.000000,828.000000,714.000000,858.000000,891.000000,891.000000
mean,446.000000,0.383815,2.304348,29.699118,0.524476,0.381594,32.204208
std,257.353842,0.486595,0.836952,14.526497,1.115284,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
for col in df.columns:
	if df[col].value_counts().values[0] > 0.7 * df.shape[0]:
		df.drop(col, axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       828 non-null    float64
 3   Name         866 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        858 non-null    float64
 7   Ticket       852 non-null    object
 8   Fare         891 non-null    float64
 9   Embarked     803 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 69.7+ KB

# 3) Remove all rows with missing target (the variable "Survived")

<font color='blue'>Q3) How many rows do we have left?</font>

In [9]:
df.dropna(subset=['Survived'], inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 865 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  865 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       802 non-null    float64
 3   Name         840 non-null    object
 4   Sex          865 non-null    object
 5   Age          693 non-null    float64
 6   SibSp        832 non-null    float64
 7   Ticket       826 non-null    object
 8   Fare         865 non-null    float64
 9   Embarked     778 non-null    object
dtypes: float64(5), int64(1), object(4)
memory usage: 74.3+ KB

# 4) Handle outliers

For the variable “Fare”, replace outlier values with the boundary values


*   If value < (Q1 - 1.5IQR), relace with (Q1 - 1.5IQR)
*   If value > (Q3 + 1.5IQR), relace with (Q3 + 1.5IQR)

<font color='blue'>Q4) What is the mean of “Fare” after replacing the outliers (round 2 decimal points)?</font>

In [10]:
# Calculate Q1, Q3, IQR
Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)
IQR = Q3 - Q1

# Replace outlier with boundary value
df.loc[df['Fare'] < (Q1 - 1.5 * IQR), 'Fare'] = Q1 - 1.5 * IQR
df.loc[df['Fare'] > (Q3 + 1.5 * IQR), 'Fare'] = Q3 + 1.5 * IQR

df.describe()

       PassengerId    Survived      Pclass         Age       SibSp        Fare
count   865.000000  865.000000  802.000000  693.000000  832.000000  865.000000
mean    457.226590    0.383815    2.298005   29.892266    0.514423   24.038997
std     252.780939    0.486595    0.838952   14.594784    1.096887   20.477911
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000
25%     243.000000    0.000000    2.000000   21.000000    0.000000    7.895800
50%     459.000000    0.000000    3.000000   28.000000    0.000000   14.458300
75%     675.000000    1.000000    3.000000   39.000000    1.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000   65.656300

# 5) Impute missing value



*   Show the number of missing values in each variable
*   Impute missing values with mean & mode
*   Show the number of missing values again after missing value imputation

<font color='blue'>Q5) Which variable has the largest number of missing values?</font>

In [11]:
# show the number of missing values for each column
df.isnull().sum()

PassengerId      0
Survived         0
Pclass          63
Name            25
Sex              0
Age            172
SibSp           33
Ticket          39
Fare             0
Embarked        87
dtype: int64

In [12]:
# Impute missing values with mean & mode
from sklearn.impute import SimpleImputer

meanImputer = SimpleImputer(strategy='mean')
modeImputer = SimpleImputer(strategy='most_frequent')

df[['Pclass']] = modeImputer.fit_transform(df[['Pclass']])
df[['Name']] = modeImputer.fit_transform(df[['Name']])
df[['Age']] = meanImputer.fit_transform(df[['Age']])
df[['SibSp']] = meanImputer.fit_transform(df[['SibSp']])
df[['Ticket']] = modeImputer.fit_transform(df[['Ticket']])
df[['Embarked']] = modeImputer.fit_transform(df[['Embarked']])

df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

# 6) Convert categorical to numeric values



*   Drop the variables “Name” & “Ticket”
*   For the variables “Sex” & “Embarked”, perform the dummy coding and drop the first level. Also, drop those original variables (“Sex” & “Embarked”)

<font color='blue'>Q6) How many columns do we have?</font>

In [13]:
# drop name and ticket
df.drop(columns=['Name', 'Ticket'], inplace=True)

# convert categorical to numerical
from sklearn.preprocessing import OneHotEncoder

oneHotEncoder = OneHotEncoder(drop='first')

def oneHotEncode(df, colName):
	oneHotEncoder.fit(df[[colName]])
	oneHotEncoded = oneHotEncoder.transform(df[[colName]]).toarray()
	oneHotEncodedDF = pd.DataFrame(oneHotEncoded, columns=[colName + '_' + str(i) for i in range(oneHotEncoded.shape[1])])
	df.drop(columns=[colName], inplace=True)
	df[oneHotEncodedDF.columns] = oneHotEncodedDF

oneHotEncode(df, "Sex")
oneHotEncode(df, "Embarked")

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 865 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  865 non-null    int64
 1   Survived     865 non-null    float64
 2   Pclass       865 non-null    float64
 3   Age          865 non-null    float64
 4   SibSp        865 non-null    float64
 5   Fare         865 non-null    float64
 6   Sex_0        839 non-null    float64
 7   Embarked_0   839 non-null    float64
 8   Embarked_1   839 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 67.6 KB

# 7) Partition data



*   Split train/test split with stratification using 70%:30% and random seed with 12345
*   Show a proportion between survived (1) and died (0) in all data sets (total data, train, test)

<font color='blue'>Q7) What is a proportion between survived (1) and died (0) in the training data?</font>

In [14]:
# split the dataset into train and test set (70:30)
from sklearn.model_selection import train_test_split

trainDF, testDF = train_test_split(df, test_size=0.3, random_state=12345, stratify=df['Survived'])

# show a proportion of survived in all dataset
print(df['Survived'].value_counts(normalize=True))

# show a proportion of survived in train dataset
print(trainDF['Survived'].value_counts(normalize=True))

# show a proportion of survived in test dataset
print(testDF['Survived'].value_counts(normalize=True))

Survived
0.0    0.616185
1.0    0.383815
Name: proportion, dtype: float64
Survived
0.0    0.616529
1.0    0.383471
Name: proportion, dtype: float64
Survived
0.0    0.615385
1.0    0.384615
Name: proportion, dtype: float64

In [15]:
print("Train dataset shape:", trainDF.shape)
print("Test dataset shape:", testDF.shape)

Train dataset shape: (605, 9)
Test dataset shape: (260, 9)