<center>
<h1>2110101 Computer Programming</h1>
ข้อสอบปลายภาค ภาคการศึกษาต้น ปีการศึกษา 2564<br>2 ธันวาคม 2564 (8:30 - 11:30น.)
</center>
<hr>

- ข้อมูลแบ่งเป็น คะแนนเต็ม 110 (แถม 10 คะแนน)
 - ตอนที่ 1 (20 คะแนน)
   - คำถามเติมคำตอบ จำนวน 11 ข้อ
 - ตอนที่ 2 (90 คะแนน) โจทย์เขียนโปรแกรม 6 ข้อ ข้อละ 15 คะแนน
- อนุญาตให้เปิดตำราและค้นข้อมูลได้
- ห้ามสื่อสารกับผู้อื่น (ยกเว้นอาจารย์ผู้สอนและผู้คุมสอบ)
- เมื่อหมดเวลา ให้บันทึกแฟ้ม และหยุดการพิมพ์ใด ๆ ทั้งสิ้น
- นิสิตที่กระทำผิดเกี่ยวกับการสอบ ตามข้อบังคับจุฬาลงกรณ์มหาวิทยาลัย มีโทษคือได้รับสัญลักษณ์ F ในรายวิชานี้ และอาจพิจารณาให้ถอนรายวิชาอื่นที่ลงทะเบียนไว้ ในภาคการศึกษานี้

In [ ]:
#@title เติมข้อมูลข้างล่างนี้ให้สมบูรณ์
#@markdown ข้าพเจ้ายอมรับและยินดีปฏิบัติตามระเบียบการสอบ ข้าพเจ้ายืนยันว่าเป็นผู้ทำข้อสอบนี้ด้วยตนเองโดยมิได้รับความช่วยเหลือ หรือให้ความช่วยเหลือในการทำข้อสอบนี้ 

#@markdown พิมพ์ชื่อและนามสกุลในช่องว่างข้างล่างนี้

ลงชื่อ = ' \u0E20\u0E39\u0E21\u0E34\u0E1E\u0E31\u0E12\u0E19\u0E4C \u0E0A\u0E31\u0E22\u0E1B\u0E23\u0E30\u0E40\u0E2A\u0E23\u0E34\u0E10\u0E2A\u0E38\u0E14' #@param {type:"string"}

# ตอนที่ 1: คำถามเติมคำตอบ
6432133721

### คำถาม 1/11
อยากทราบว่า <font size=+1>${  \sum_{k=1}^{5}{ \left ( \sum_{j=2}^{6} {\left ( {(k-j)^j}{j^k} \right )} \right )} }$</font> มีค่าเท่าไร

In [ ]:
#@title คำตอบ 1/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = 477592 #@param {type:"raw"}

### คำถาม 2/11
<pre>
import numpy as np
def f1(x): # x เป็น 1-D numpy array of floats
    n = len(x)
    D = np.zeros((n,n))
    for i in range(n):
        for j in range(i+1,n):
            D[i,j] = x[i] - x[j]
            D[j,i] = x[j] - x[i]
    return D
</pre>
จงเติมคำสั่งในช่องว่างที่ขีดเส้นใต้ของฟังก์ชัน `f2` ข้างล่างนี้ เพื่อให้ `f2` ทำงานแล้วได้ผลลัพธ์เหมือน `f1` ข้างบน
<pre>
def f2(x):
    z = np.array([x]).T
    return _____________________
</pre>

In [ ]:
#@title คำตอบ 2/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = z - z.T #@param {type:"raw"}

### คำถาม 3/11
ให้ `d` เป็น dict ที่เก็บข้อมูล `{ชื่อ: ลิสต์ของเลขประจำตัวนิสิต}` จงเขียนคำสั่งในช่องว่างที่ขีดเส้นใต้ของฟังก์ชันข้างล่างนี้ เพื่อให้ฟังก์ชันนี้คืน set of tuples ที่เก็บข้อมูล `{ (เลขประจำตัวนิสิต,ชื่อ), ...}`

หมายเหตุ: เลขประจำตัวหนึ่งต้องมีแค่ชื่อเดียว แต่ชื่อหนึ่งมีหลายเลขประจำตัวได้ (คนชื่อซ้ำกันมีมากมาย)
<pre>
def f(d):
    x = set()
    for k in d:
        for e in d[k]:
            ______________
    return x
</pre>

In [ ]:
#@title คำตอบ 3/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = x.add((e, k)) #@param {type:"raw"}

### คำถาม 4/11
<pre>
def f1(x): 
    d = []
    for k,v in x.items():
        if k == v:
            d += [(k, 2*v)]
    return d
</pre>
จงเติมคำสั่งในช่องว่างที่ขีดเส้นใต้ของฟังก์ชัน `f2` ข้างล่างนี้ เพื่อให้ `f2` ทำงานแล้วได้ผลลัพธ์เหมือน `f1` ข้างบน
<pre>
def f2(x):
    return _________________________
</pre>

In [ ]:
#@title คำตอบ 4/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = [(k, 2*v) for k, v in x.items() if k == v] #@param {type:"raw"}

### คำถาม 5/11
<pre>
class A: 
    def __init__(self, a, b):
        self.s = [a,b]
    def __str__(self):
        return ':'.join([(' '+str(e))[-2:] for e in self.s])
    def __lt__(self, a):
        return _______________________

a1 = A(9,0)
a2 = A(-9,-1)
a3 = A(3,4)
a4 = A(-8,5)
for a in sorted([a1,a2,a3,a4]):
    print(a)
</pre>
จะต้องเติมคำสั่งอะไรในช่องว่างที่ขีดเส้นใต้ของโปรแกรมข้างบนนี้ หลังจากให้ทำงาน แล้วผลลัพธ์ที่ได้เป็นดังแสดงข้างล่างนี้
<pre>
-9:-1
-8: 5
 3: 4
 9: 0
</pre>

In [ ]:
#@title คำตอบ 5/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = self.s[0] < a.s[0] #@param {type:"raw"}

### คำถาม 6/11
ข้างล่างนี้คือโปรแกรมที่เก็บในแฟ้มชื่อ `final.py`
<pre>
f = open('final.py')

c = []
for line in f:
    if line.strip() != '': 
        c.append(1)
f.close()

print(len(c))
</pre>
เมื่อสั่งโปรแกรมข้างบนนี้ทำงาน จะแสดงอะไร

In [ ]:
#@title คำตอบ 6/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = 7 #@param {type:"raw"}

### คำถาม 7/11
ให้ `d` เป็น dict ที่เก็บข้อมูล `{เลขประจำตัวนิสิต: ชื่อ}` จงเขียนคำสั่งในช่องว่างที่ขีดเส้นใต้ของฟังก์ชันข้างล่างนี้ เพื่อให้ฟังก์ชันนี้คืน dict ที่เก็บข้อมูล `{ชื่อ: ลิสต์ของเลขประจำตัวนิสิต}`

หมายเหตุ: เลขประจำตัวหนึ่งต้องมีแค่ชื่อเดียว แต่ชื่อหนึ่งมีหลายเลขประจำตัวได้ (คนชื่อซ้ำกันมีมากมาย)

<pre>
def f(d):
    x = {}
    for e in _________:
        x[e] = []
    for k in d:
        for e in d[k]:
            x[e] += [k]
    return x
</pre>

In [ ]:
#@title คำตอบ 7/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = d.values() #@param {type:"raw"}

### คำถาม 8/11
<pre>
import numpy as np
def f1(x, a): 
    # x เป็น 1-D numpy array of ints, a เป็น int
    g = np.sum(x)/x.shape[0]
    for i in range(len(x)):
        if x[i] == g: 
            x[i] = a
</pre>
จงเติมคำสั่งในช่องว่างที่ขีดเส้นใต้ของฟังก์ชัน `f2` ข้างล่างนี้ เพื่อให้ `f2` ทำงานแล้วได้ผลลัพธ์เหมือน `f1` ข้างบน
<pre>
def f2(x, a):
    x[_______________] = a
</pre>

In [ ]:
#@title คำตอบ 8/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = x == np.sum(x)/x.shape[0] #@param {type:"raw"}

### คำถาม 9/11
จงเติมคำสั่งในช่องว่างที่ขีดเส้นใต้ในโปรแกรมข้างล่างนี้
```
def f(R, C):
    for i in range(R):
        out = ''
        for j in range(C):
            n = ____________________
            out += ('   ' + str(n))[-4:]
        print(out)

f(5, 10)
```    
เพื่อให้แสดงผลลัพธ์ข้างล่างนี้
```
  50  49  48  47  46  45  44  43  42  41
  40  39  38  37  36  35  34  33  32  31
  30  29  28  27  26  25  24  23  22  21
  20  19  18  17  16  15  14  13  12  11
  10   9   8   7   6   5   4   3   2   1
```

In [ ]:
#@title คำตอบ 9/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = R*C - (i * C + j) #@param {type:"raw"}

### คำถาม 10/11
<pre>
class A: 
    def __init__(self, a, b):
        self.s = [a,b]
    def __str__(self):
        return ':'.join([(' '+str(e))[-2:] for e in self.s])
    def f(self):
        return ______________________

a1 = A(9,1)
a2 = a1.f()
a3 = a2.f()
print(a1)
print(a2)
print(a3)
</pre>
จะต้องเติมคำสั่งอะไรในช่องว่างที่ขีดเส้นใต้ของโปรแกรมข้างบนนี้ หลังจากให้ทำงาน แล้วผลลัพธ์ที่ได้เป็นดังแสดงข้างล่างนี้
<pre>
 9: 1
-9:-1
 9: 1
</pre>

In [ ]:
#@title คำตอบ 10/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = A(-self.s[0], -self.s[1]) #@param {type:"raw"}

### คำถาม 11/11
<pre>
import numpy as np
def f1(x, a, b): 
    # x เป็น 1-D numpy array of ints, a และ b เป็น int
    return np.array([e for e in x if e < a or e > b])
</pre>
จงเติมคำสั่งในช่องว่างที่ขีดเส้นใต้ของฟังก์ชัน `f2` ข้างล่างนี้ เพื่อให้ `f2` ทำงานแล้วได้ผลลัพธ์เหมือน `f1` ข้างบน
<pre>
def f2(x, a, b):
    return x[ _________________ ]
</pre>

In [ ]:
#@title คำตอบ 11/11
#@markdown เติมคำตอบแทนคำว่า None ข้างล่างนี้
answer = (x < a) | (x > b) #@param {type:"raw"}

# ตอนที่ 2: เขียนโปรแกรม
6432133721

## คำถาม 1/6

### **Adding dashes**
จงเขียนโปรแกรมเพื่ออ่านสตริงจากแฟ้ม "data.txt" ซึ่งจะมีแต่ตัวเลข ตัวอักษรและช่องว่างเท่านั้น ให้โปรแกรมแสดงสตริงที่อ่านจากไฟล์บนหน้าจอ โดยให้ใส่ dash "-" คั่นตัวอักษรทุก2ตัวในคำที่เป็นตัวพิมพ์ใหญ่ทั้งคำ 

<table>
<thead>
  <tr>
    <th>ข้อมูลในแฟ้ม data.txt</th>
    <th>ผลลัพธ์ที่แสดงทางจอภาพที่ถูกต้อง</th>
    <th>ผลลัพธ์ที่เกือบถูก (ถูกหัก 20%)</th>
  </tr>
</thead>
<tbody>
<tr>
<td><pre>
PYTHON  is  very  popular
I use   LOGITEC   mouse
CHULALONGKORN      is MY University
</pre></td>
<td><pre>
PY-TH-ON  is  very  popular
I use   LO-GI-TE-C   mouse
CH-UL-AL-ON-GK-OR-N      is MY University
</pre></td>
<td><pre>
PY-TH-ON is very popular
I use LO-GI-TE-C mouse
CH-UL-AL-ON-GK-OR-N is MY University
</pre></td>
</tr>
</tbody>
</table>

## สำคัญมาก

- เขียนโปรแกรมที่ต้องการส่งใน code cell ข้างล่างนี้เท่านั้น 
- ห้ามแก้ไขข้อความใน **บรรทัดแรก** โดยเต็ดขาด

In [9]:
# Adding_dashes (DO NOT modify this line)

# Put your code only in this code cell.

with open('data.txt', 'r') as f:
    for line in f:
        words = line.split(' ')
        for i in range(len(words)):
            word = words[i]
            if word != '':
                if i != 0:
                    print(' ', end='')
                # word = word.strip()
                if word.isupper():
                    print('-'.join([word[i:i+2] for i in range(0, len(word), 2)]), end='')
                else:
                    print(word, end='')
            else:
                print(' ', end='')

PY-TH-ON  is  very  popular
I use   LO-GI-TE-C   mouse
CH-UL-AL-ON-GK-OR-N      is MY University

## คำถาม 2/6

### **SALE_REPORT**
**คำสั่ง**

จงเขียนโปรแกรมรับข้อมูลรายการซื้อสินค้าของลูกค้าซึ่งประกอบด้วย ชื่อ-สกุล  หมายเลขสินค้า และชื่อสินค้า  เราสามารถรับข้อมูลชื่อ-สกุลลูกค้าคนเดิมที่ซื้อสินค้าอื่นเพิ่มได้ จากนั้นรับคำถามเพื่อค้นหมายเลขสินค้าและชื่อสินค้าจากชื่อ-สกุลที่ให้ หรือค้นชื่อ-สกุล จากหมายเลขสินค้าหรือชื่อสินค้าที่ให้


**ข้อมูลนำเข้า**

บรรทัดแรกเป็นจำนวนเต็ม N 

N บรรทัดต่อมาเป็นข้อมูลรายการซื้อสินค้าของลูกค้า ประกอบด้วย ชื่อ นามสกุล หมายเลขสินค้า และชื่อสินค้าคั่นด้วยช่องว่าง 

บรรทัดที่ N+2 เป็นจำนวนเต็ม M 

M บรรทัดต่อมาเป็นชื่อ นามสกุล (กรณีที่ต้องการให้ค้นหมายเลขสินค้าและชื่อสินค้า) หรือ เป็นหมายเลขสินค้าหรือชื่อสินค้าเท่านั้น (กรณีที่ต้องการให้ค้นชื่อ-สกุล)


**ข้อมูลส่งออก**

หมายเลขสินค้าและชื่อสินค้า หรือชื่อ-สกุล ขึ้นกับคำถาม ถ้าหาไม่พบให้แสดง Not found 

(โปรดระวังว่า ชื่อ-สกุลหนึ่งอาจมีหลายหมายเลขสินค้าและชื่อสินค้า และชื่อสินค้าหนึ่งอาจมีหลายชื่อ-สกุล)


## **ตัวอย่าง**

<pre>
<table align=left border=2>
<tr><td>Input</td><td>Output</td></tr>
<tr><td>6</td><td>iPhone --> Anthony Stark, Henry Pym, Steven Rogers</td></tr> 
<tr><td>Anthony Stark A1-1111 Samsung</td><td>Anthony Stark --> A1-1111 Samsung, A2-2222 iPhone</td></tr> 
<tr><td>Henry Pym A2-2222 iPhone</td><td>Steven Rogers --> A2-2222 iPhone</td></tr> 
<tr><td>Anthony Stark A2-2222 iPhone
</td><td>Nokia --> Not found</td></tr> 
<tr><td>Robert Banner A3-3333 Oppo</td><td>A4-4444 --> Robert Banner</td></tr> 
<tr><td>Robert Banner A4-4444 Xiaomi</td><td>Oppo --> Robert Banner</td></tr> 
<tr><td>Steven Rogers A2-2222 iPhone</td><td></td></tr> 
<tr><td>6</td><td></td></tr> 
<tr><td>iPhone</td><td></td></tr> 
<tr><td>Anthony Stark</td><td></td></tr> 
<tr><td>Steven Rogers</td><td></td></tr> 
<tr><td>Nokia</td><td></td></tr> 
<tr><td>A4-4444</td><td></td></tr> 
<tr><td>Oppo</td><td></td></tr> 

</table>
</pre>



## **สำคัญมาก**
- เขียนโปรแกรมที่ต้องการส่งใน code cell ข้างล่างนี้เท่านั้น 
- ห้ามแก้ไขข้อความใน **บรรทัดแรก** โดยเต็ดขาด

In [2]:
# Sale_Report (DO NOT modify this line)

# Put your code only in this code cell.

people = dict()
products = dict()
products_id = dict()

n = int(input())
for i in range(n):
    name, surname, id, prod = input().split()
    name = ' '.join([name, surname])
    if name not in people:
        people[name] = []
    people[name].append((id, prod))

    if prod not in products:
        products[prod] = []
    products[prod].append(name)

    if id not in products_id:
        products_id[id] = []
    products_id[id].append(name)

m = int(input())
for i in range(m):
    target = input().strip()
    if target in people:
        print(target, '-->', ', '.join(sorted([x[0] + ' ' + x[1] for x in people[target]])))
    elif target in products:
        print(target, '-->', ', '.join(sorted(products[target])))
    elif target in products_id:
        print(target, '-->', ', '.join(sorted(products_id[target])))
    else:
        print(target, '-->', 'Not found')

6
Anthony Stark A1-1111 Samsung
Henry Pym A2-2222 iPhone
Anthony Stark A2-2222 iPhone
Robert Banner A3-3333 Oppo
Robert Banner A4-4444 Xiaomi
Steven Rogers A2-2222 iPhone
6
iPhone
iPhone --> Anthony Stark, Henry Pym, Steven Rogers
Anthony Stark
Anthony Stark --> A1-1111 Samsung, A2-2222 iPhone
Steven Rogers
Steven Rogers --> A2-2222 iPhone
Nokia
Nokia --> Not found
A4-4444
A4-4444 --> Robert Banner
Oppo
Oppo --> Robert Banner

## คำถาม 3/6

### NESTED
ให้เขียนฟังก์ชัน `pattern1(N)` ที่สร้างและคืนลิสต์ซ้อนลิสต์แทนตารางที่มีขนาด `N x N` โดย `N > 0` 

ตัวอย่าง
`pattern1(5)` ได้
```
 [[ 0,  0,  0,  0,  1],
  [ 0,  0,  0,  2,  3],
  [ 0,  0,  4,  5,  6],
  [ 0,  7,  8,  9, 10],
  [11, 12, 13, 14, 15]]
```
ให้เขียนฟังก์ชัน `pattern2(N)` ที่สร้างและคืนลิสต์ซ้อนลิสต์แทนตารางที่มีขนาด `N x N` โดย `N > 0` 

ตัวอย่าง
`pattern2(5)` ได้
```
 [[1,  2,  4,  7, 11],
  [0,  3,  5,  8, 12],
  [0,  0,  6,  9, 13],
  [0,  0,  0, 10, 14],
  [0,  0,  0,  0, 15]]
```

In [11]:
# NESTED_08 (DO NOT modify this line)

# Put your code only in this code cell.

def pattern1(N):
  ret = [[0]*N for _ in range(N)]
  cnt = 1
  for i in range(N):
    for j in range(N-i-1, N):
      ret[i][j] = cnt
      cnt += 1
  return ret

def pattern2(N):
  ret = [[0]*N for _ in range(N)]
  cnt = 1
  for i in range(N):
    for j in range(0, i+1):
      ret[j][i] = cnt
      cnt += 1
  return ret

## คำถาม 4/6

### **Car Maker**
กำหนดให้ข้อมูลนำเข้าแต่ละบรรทัด คือชื่อประเภทรถ (car type) คั่นด้วย ' : ' ตามด้วยยี่ห้อรถผู้ผลิต (maker) คั่นด้วย ',' เช่น

```
Van : Toyota,Hyundai,Volkswagen
SUV : BMW
Sedan : Mercedes-Benz,BMW,Honda,Toyota,Nissan
Coupe : BMW,Mercedes-Benz,Audi,Ford
Pickup : Toyota,Nissan,Ford
SUV : Chevrolet,Mitsubishi,Ford,Honda,Toyota,MG
Pickup : Isuzu,Mitsubishi,MG,Nissan,Toyota
```

โปรแกรมข้างล่างนี้ อาศัย dict ชื่อว่า ```CM``` มี key เป็นชื่อยี่ห้อรถ และ value เก็บ set ของชื่อประเภทรถ ที่ key ผลิต ดังนั้น จากข้อมูลข้างบนนี้จะได้

```python
CM =  {'Toyota': {'Pickup', 'Van', 'Sedan', 'SUV'}, 
       'Hyundai': {'Van'}, 
       'Volkswagen': {'Van'}, 
       'BMW': {'Coupe', 'Sedan', 'SUV'}, 
       'Mercedes-Benz': {'Coupe', 'Sedan'}, 
       'Honda': {'Sedan', 'SUV'}, 
       'Nissan': {'Pickup', 'Sedan'}, 
       'Audi': {'Coupe'}, 
       'Ford': {'Pickup', 'Coupe', 'SUV'}, 
       'Chevrolet': {'SUV'}, 
       'Mitsubishi': {'Pickup', 'SUV'}, 
       'MG': {'Pickup', 'SUV'}, 
       'Isuzu': {'Pickup'}
      }
```
จงเขียนฟังก์ชัน ```make_car_type(), find_makers(), print_maker_with_most_type() และ read_cm()``` ข้างล่างนี้ให้สมบูรณ์ตาม comment และการเก็บข้อมูลที่อธิบายข้างบนนี้

## สำคัญมาก
- เขียนโปรแกรมที่ต้องการส่งใน code cell ข้างล่างนี้เท่านั้น 
- ห้ามแก้ไขข้อความใน **บรรทัดแรก** และ code ที่ให้มาโดยเต็ดขาด

In [12]:
# CAR_MAKER (DO NOT modify this line)

# Put your code only in this code cell.

def make_car_type(CM, m, t):
    # return True if the maker m makes the car type t, otherwise return False
    return t in CM[m]


def find_makers(CM, t):
    # return a list of car makers that makes the car type t in alphabetical order (A-Z).
    return sorted([x for x in CM.keys() if make_car_type(CM, x, t)])


def print_maker_with_most_type(CM):
    # print the maker that makes the most car types.
    # if there are more than one maker that makes the most car types,
    #   print all those makers in alphabetical order (A-Z) seperated by comma (,)
    mx = max([len(CM[x]) for x in CM.keys()])
    print(','.join(sorted([x for x in CM.keys() if len(CM[x]) == mx])))


def read_cm():
    # build a dictionary CM from inputs, of which structure is shown in the example given above

    CM = dict()
    while True:
        d = input().split(' : ')
        if len(d) == 1:
            break
        for x in d[1].split(','):
            if x not in CM:
                CM[x] = set()
            CM[x].add(d[0])
    return CM

## คำถาม 5/6

จงเขียนฟังก์ชัน `f1`, `f2` และ `f3` ข้างล่างนี้ รวมใน code cell ข้างล่างที่จัดไว้ให้

- ห้ามใช้วงวน `for`, `while`, `map`, `reduce`, `itertools`, comprehension, recursive ในทุกฟังก์ชันของข้อนี้
- ห้ามเปลี่ยนแปลงค่าของพารามิเตอร์ `x` ของทุกฟังก์ชันในข้อนี้
`!$=`
<pre>
def f1(x):
    # รับ x เป็น 1-D numpy array เก็บ floats (มีข้อมูลเกิน 2 ตัวแน่นอน)
    # คืน True ถ้าข้อมูลใน x เรียงเป็นลำดับเลขคณิต (arithmetic sequence)
    #   ถ้าไม่ใช่คืน False
    # หมายเหตุ:
    #   ถ้าไม่รู้ว่าลำดับเลขคณิตคืออะไร อ่าน https://en.wikipedia.org/wiki/Arithmetic_progression
    #   ถ้าต้องการเปรียบเทียบสองจำนวน เช่น a กับ b ว่าเท่ากันหรือไม่
    #     ให้เรียกใช้ฟังก์ชัน np.isclose(a, b) อย่าใช้ a == b 
    # ตัวอย่าง 
    #   f1(np.array([1., 3., 5., 7.])) คืน True
    #   f1(np.array([-4., -4., -4.])) คืน True
    #   f1(np.array([-0.5, 0, 0.5, 1.0])) คืน True
    #   f1(np.array([3., 4., 5., 6., 8.])) คืน False
</pre>
<pre>
def f2(x): 
    # รับ x เป็น 2-D numpy array เก็บ floats
    # คืน 2-D numpy array ขนาดเท่ากับ x มีค่าเป็น moving average ของแต่ละแถวใน x
    #   โดยแถวที่ r คอลัมน์ที่ c ของผลลัพธ์มีค่าเท่ากับ 
    #     ค่าเฉลี่ยของ x[r,c], x[r,c+1] และ x[r,c+2]
    #     ถ้า ณ คอลัมน์ c ไม่มีคอลัมน์ทางขวา ก็ให้ผลลัพธ์เป็นค่าเท่ากับ x[r,c]
    #     ถ้ามีคอลัมน์ c+1 แต่ไม่มีคอลัมน์ c+2 ก็ให้ผลลัพธ์เป็นค่าเฉลี่ยของ x[r,c] กับ x[r,c+1]
    # ตัวอย่าง 
    #   f2(np.array([[1., 2., 3.,  4.], [5., 6., 7.,  8.]])) คืน
    #      np.array([[2., 3., 3.5, 4.], [6., 7., 7.5, 8.]])
    #   f2(np.array([[9.5]])) คืน np.array([[9.5]])
</pre>
<pre>
def f3(x):
    # รับ x เป็น 2-D numpy array เป็น square matrix จำนวนแถวเป็นจำนวนคึ่ และเก็บ 0 กับ 1 เท่านั้น  
    # คืน True ถ้า 
    #     x เก็บค่า 1 ในลักษณะเป็นรูปตัวอักษร N หรือ N กลับด้าน หรือ Z หรือ Z กลับด้าน
    #     หรือ x เก็บค่า 0 ในลักษณะเป็นรูปตัวอักษร N หรือ N กลับด้าน หรือ Z หรือ Z กลับด้าน
    #     ดังตัวอย่างในรูปข้างล่าง
    #   ถ้าไม่ใช่ ให้คืน False
    # ตัวอย่าง 
    #   f3(np.array([[1]])) คืน True
    #   f3(np.array([[0]])) คืน True
    #   f3(np.array([[1,1,1],[0,1,0],[1,1,1]])) คืน True
    #   f3(np.array([[0,0,0],[1,0,1],[0,0,0]])) คืน True
    #   f3(np.array([[1,0,0,0,1],[1,1,0,0,1],[1,0,1,0,1],[1,0,0,1,1],[1,0,0,0,1]])) คืน True
    #   f3(np.array([[0,0,0,0,0],[1,0,1,1,1],[1,1,0,1,1],[1,1,1,0,1],[0,0,0,0,0]])) คืน True
    #   f3(np.array([[1,1,1],[1,0,1],[1,1,1]])) คืน False    
</pre>
![image.png]()

In [17]:
# NUMPY (DO NOT modify this line)

# Put your code only in this code cell.
import numpy as np

def f1(x):
  return np.all(np.isclose(np.diff(x), x[1] - x[0]))

def f2(x): 
  x = np.array(x)
  ret = np.zeros(x.shape)
  if x.shape[1] >= 1:
    ret[:, -1] = x[:, -1]
  if x.shape[1] >= 2:
    ret[:, -2] = (x[:, -1] + x[:, -2])/2
  if x.shape[1] >= 3:
    ret[:, :-2] = (x[:, :-2] + x[:, 1:-1] + x[:, 2:])/3
  return ret

def f3(x):
  if np.all(x[0] == 1) and np.all(x[-1] == 1) and (np.all(np.diag(x) == 1) or np.all(np.diag(x[::-1]) == 1)) and np.sum(x) == 2*x.shape[1] + x.shape[0] - 2:
    return True
  if np.all(x[:, 0] == 1) and np.all(x[:, -1] == 1) and (np.all(np.diag(x) == 1) or np.all(np.diag(x[::-1]) == 1)) and np.sum(x) == 2*x.shape[0] + x.shape[1] - 2:
    return True
  
  x = np.where(x == 0, 1, 0)
  if np.all(x[0] == 1) and np.all(x[-1] == 1) and (np.all(np.diag(x) == 1) or np.all(np.diag(x[::-1]) == 1)) and np.sum(x) == 2*x.shape[1] + x.shape[0] - 2:
    return True
  if np.all(x[:, 0] == 1) and np.all(x[:, -1] == 1) and (np.all(np.diag(x) == 1) or np.all(np.diag(x[::-1]) == 1)) and np.sum(x) == 2*x.shape[0] + x.shape[1] - 2:
    return True

  return False

## คำถาม 6/6

### **Tweet_1**
ให้เติมเมท็อดต่าง ๆ ตามข้อกำหนดด้านล่าง 

* Constructor รับ dictionary ของทวีตซึ่งมี key ดังนี้
  * id เก็บจำนวนเต็มเป็นรหัสของทวีต
  * words เก็บลิสต์ของคำในทวีต
  * time เก็บเวลาของทวีตในข้อความตามรูปแบบ 'YYYY-mm-dd HH:MM' 
  * user เป็นข้อความเก็บชื่อบัญชีของเจ้าของทวีต

  นำค่าจากทวีตมาเก็บในตัวแปร id, words, time และ user ตามค่าจาก key ของทวีต 
* ```__lt__(self,rhs)``` เป็นเมท็อดเปรียบเทียบเวลาของทวีตสองอัน หากเวลาของ ```self``` มาก่อนเวลาของ ```rhs``` ให้คืนค่า ```True``` ไม่เช่นนั้นให้คืนค่า ```False``` หากเป็นเวลาเดียวกัน ให้เปรียบเทียบตาม **จำนวนคำใน ```words```** โดยคืนค่า ```True``` หากจำนวนคำใน ```self``` มีค่าน้อยกว่า ไม่เช่นนั้นให้คืนค่า ```False```
* ```__str__(self)``` คืนค่าเป็นข้อความในรูปแบบ ```time: [user] words (id)``` โดยข้อความใน words จะนำข้อความจากลิสต์มาต่อกันคั่นด้วยเครื่องหมายเว้นวรรค 
* ```similarity(self,other)``` คืนค่าความคล้ายคำนวณจากสูตร $\frac{|words_{self}\cap words_{other}|}{|words_{self}\cup words_{other}|}$ เมื่อ
  * $|x|$ หมายถึงจำนวนสมาชิกในเซต $x$ 
  * $words_{self}$ หมายถึงเซตของ ```words``` จาก ```self```
  * $words_{other}$ หมายถึงเซตของ ```words``` จาก ```other```

นอกจากนี้ให้เขียนฟังก์ชันดังต่อไปนี้
* ```find_similarity(tweets)``` รับค่าเป็นลิสต์ของทวีต และคืนค่าเป็นลิสต์ของทูเปิลที่มีสมาชิกตัวที่หนึ่งเป็นความคล้ายซึ่งคืนมาจากเมท็อด ```similarity``` และมีสมาชิกตัวที่สองเป็นทูเปิลของรหัสประจำตัวทวีตตัวที่หนึ่งและตัวที่สอง ตามเงื่อนไขดังนี้
  * การวัดความคล้ายให้วัดจากเมท็อด ```similarity``` ของทวีตเท่านั้น
  * เรียงลำดับตามความคล้ายจากน้อยไปมาก
  * ในกรณีความคล้ายเท่ากัน ให้เรียงตามลำดับตามรหัสประจำตัวทวีตตัวที่หนึ่งและตัวที่สองตามลำดับ 
  * ไม่คืนค่าความคล้ายของทวีตเดียวกัน 
  * ไม่คืนค่าของคู่ของทวีตที่สลับลำดับกัน หากมี ```id1``` กับ ```id2``` แล้ว ไม่ให้คืนค่า ```id2``` กับ ```id1``` และให้ใช้เป็นลำดับ ```(id1,id2)``` โดย ```id1 < id2``` เสมอ 
* ```show_tweets(tweets)``` รับลิสต์ของทวีต ให้พิมพ์ทวีตเรียงตามลำดับเงื่อนไขจากเมท็อด ```__lt__``` และพิมพ์ตามข้อความที่คืนมาจากเมท็อด ```__str__```

## **ตัวอย่าง**

หากมีชุดคำสั่ง

```
tw1=Tweet({'id':1,'user':'abc','words':['this','is','a','blockchain','made','from','scratch','in','~50','lines','of','python','code'],'time':'2021-11-18 16:38'})
tw2=Tweet({'id':2,'user':'cdg','words':['javascript', 'java', 'python', 'php', 'and', 'their', 'learning', 'curves'],'time':'2021-11-06 14:28'})
tw3=Tweet({'id':3,'user':'def123','words':['python and javascript'],'time':'2021-11-01 07:56'})
tw4=Tweet({'id':4,'user':'def123','words':['only','python'],'time':'2021-11-01 07:56'})

tweets=[tw1,tw2,tw3,tw4]
```

* ```tw1.similarity(tw2)``` จะคืนค่า 0.05
* ```tw2.similarity(tw3)``` จะคืนค่า 0.375
* ```tw1.similarity(tw3)``` จะคืนค่า 0.06666666666666667
* ```find_similarity(tweets)``` จะคืนค่า 
```
[(0.05, (1, 2)),
 (0.06666666666666667, (1, 3)),
 (0.07142857142857142, (1, 4)),
 (0.1111111111111111, (2, 4)),
 (0.25, (3, 4)),
 (0.375, (2, 3))]
 ```
* ```show_tweets(tweets)``` จะแสดงข้อความ 
```
2021-11-01 07:56: [def123] only python (4)
2021-11-01 07:56: [def123] python and javascript (3)
2021-11-06 14:28: [cdg] javascript java python php and their learning curves (2)
2021-11-18 16:38: [abc] this is a blockchain made from scratch in ~50 lines of python code (1)
```

## **สำคัญมาก**
- เขียนโปรแกรมที่ต้องการส่งใน code cell ข้างล่างนี้เท่านั้น 
- ห้ามแก้ไขข้อความใน **บรรทัดแรก** โดยเต็ดขาด

In [18]:
# Tweet_1 (DO NOT modify this line)

# Put your code only in this code cell.

class Tweet:
    def __init__(self, tweet):
        self.id = tweet['id']
        self.words = tweet['words']
        self.time = tweet['time']
        self.user = tweet['user']

    def __lt__(self, rhs):
        date1, time1 = self.time.split(' ')
        year1, month1, day1 = date1.split('-')
        hour1, minute1 = time1.split(':')

        date2, time2 = rhs.time.split(' ')
        year2, month2, day2 = date2.split('-')
        hour2, minute2 = time2.split(':')

        if year1 < year2:
            return True
        elif year2 < year1:
            return False

        if month1 < month2:
            return True
        elif month2 < month1:
            return False

        if day1 < day2:
            return True
        elif day2 < day1:
            return False

        if hour1 < hour2:
            return True
        elif hour2 < hour1:
            return False

        if minute1 < minute2:
            return True
        elif minute2 < minute1:
            return False

        # if all the above conditions are not met, compares number of words
        return len(self.words) < len(rhs.words)

    def __str__(self):
        # return string format "time : [user] words (id)"
        return self.time + ': [' + self.user + '] ' + ' '.join(self.words) + ' (' + str(self.id) + ')'

    def similarity(self, other):
        words1 = set(self.words)
        words2 = set(other.words)
        return len(words1.intersection(words2))/len(words1.union(words2))


def find_similarity(tweets):
    ret = []
    for i in range(len(tweets)):
        for j in range(i+1, len(tweets)):
            ret.append((tweets[i].similarity(tweets[j]), (tweets[i].id, tweets[j].id)))
    return sorted(ret)


def show_tweets(tweets):
    tweets = sorted(tweets)
    for tweet in tweets:
        print(tweet)


tw1 = Tweet({'id': 1, 'user': 'abc', 'words': ['this', 'is', 'a', 'blockchain', 'made', 'from',
                                               'scratch', 'in', '~50', 'lines', 'of', 'python', 'code'], 'time': '2021-11-18 16:38'})
tw2 = Tweet({'id': 2, 'user': 'cdg', 'words': ['javascript', 'java', 'python', 'php',
                                               'and', 'their', 'learning', 'curves'], 'time': '2021-11-06 14:28'})
tw3 = Tweet({'id': 3, 'user': 'def123', 'words': ['python', 'and', 'javascript'], 'time': '2021-11-01 07:56'})
tw4 = Tweet({'id': 4, 'user': 'def123', 'words': ['only', 'python'], 'time': '2021-11-01 07:56'})
tweets = [tw1, tw2, tw3, tw4]